{% extends 'base.html' %}

 {% block content %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">SUBMIT</button>
  </form>
  
  <style>
    
    .container {
      max-width: 300px;
      margin: auto;
    }
  
    label {
      font-weight: bold;
    }
  
    input {
      width: 100%;
      margin-bottom: 10px;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  
    button {
      background-color: #007bff;
      border-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
    }
  
    button:hover {
      background-color: #0069d9;
      border-color: #0062cc;
      color: #fff;
    }
    body {
      background-color: #f2f2f2; 
    }
  </style>
  
</head>
<script>

  const form = document.querySelector('#add-student-form');


  form.addEventListener('submit', (event) => {
    event.preventDefault();

 
    const formData = new FormData(form);

  
    fetch('/student/add/', {
      method: 'POST',
      body: formData
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('NETWORK RESPONSE ERROR');
      }
      return response.json();
    })
    .then(data => {
     
      console.log(data);
      alert('STUDENT ADDED SUCCESSFULLY!!');
      form.reset();
    })
    .catch(error => {
      
      console.error('THERE WAS AN ERROR :', error);
      alert('THERE WAS AN ERROR ADDING THE STUDENT');
    });
  });
</script>
{%  endblock %}