{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-15">
                <div class="text-center" style="margin : 20px;">
                    <button type="button" class="btn btn-primary btn-lg mb-3">VIEW STUDENTS</button>
                    <a href="{% url 'add_student' %}" class="btn btn-success btn-lg mb-3">ADD STUDENT</a>
                </div>
                <div class="student-table" style="display: none; width: 1200px; margin: 10px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>FIRST NAME</th>
                                <th>LAST NAME</th>
                                <th>ENROLLMENT_NO.</th>
                                <th>PROGRAM</th>
                                <th>VILLAGE</th>
                                <th>BLOCK</th>
                                <th>DISTRICT</th>
                                <th>STATE</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                                <tr>
                                    <td>{{ student.first_name }}</td>
                                    <td>{{ student.last_name }}</td>
                                    <td>{{ student.enrollment_number }}</td>
                                    <td>{{ student.program }}</td>
                                    <td>{{ student.village }}</td>
                                    <td>{{ student.block }}</td>
                                    <td>{{ student.district }}</td>
                                    <td>{{ student.state }}</td>
                                    <td>
                                        <a href="{% url 'edit_student' id=student.id %}" class="btn btn-primary btn-sm">EDIT</a>
                                        <a href="{% url 'delete_student' id=student.id %}" class="btn btn-danger btn-sm">DELETE</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="9" class="text-center">NO STUDENTS FOUND</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            $(".btn-primary").click(function() {
                $(".student-table").toggle();
                $(this).toggleClass("active");
                if ($(this).hasClass("active")) {
                    $(this).text("HIDE STUDENT INFORMATION");
                } else {
                    $(this).text("VIEW STUDENT INFORMATION");
                }
            });
        });
    </script>
{% endblock %}
