{% extends 'base.html' %}

{% block content %}
  <h4>TOTAL VILLAGES ({{ villages|length }}) </h4>
  {% if villages %}
    <ul class="village-list">
      {% for village in villages|dictsort:"name" %}
      <li>
        <span class="village-serial">{{ forloop.counter }}. </span>
        <a href="{% url 'student:village_detail' village.pk %}" class="village-link">{{ village.name }}</a>
        <div class="village-popup">{{ village.name }}</div>
      </li>
    {% empty %}
      <li>NO VILLAGES AVAILABLE FOR THIS BLOCK.</li>
    {% endfor %}
    
    </ul>
  {% endif %}

  <style>
    .village-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .village-list li {
      position: relative;
      margin: 10px;
    }
    .serial-number {
      font-weight: bold;
      color: #333;
      margin-right: 5px;
    }
    .village-link {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      color: #333;
      text-align: center;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease;
      text-decoration: none;
    }
    .village-link:hover {
      background-color: #f8f8f8;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .village-popup {
      display: none;
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      background-color: #333;
      color: #fff;
      font-size: 14px;
      border-radius: 5px;
      white-space: nowrap;
    }
  </style>
{% endblock %}
