{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center" style="margin-top: 100px;">
            <div class="col-md-3 text-center">
                <a href="{% url 'state_dashboard' %}" class="btn btn-primary btn-lg btn-block">STATE DASHBOARD</a>
            </div>
            <div class="col-md-3 text-center">
                <a href="{% url 'block_dashboard' %}" class="btn btn-danger btn-lg btn-block">BLOCK DASHBOARD</a>
            </div>
        </div>
    </div>

    <style>
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            color: #fff;
        }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
            color: #fff;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
            color: #fff;
        }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
            color: #fff;
        }
    </style>
{% endblock %}
