{% extends 'base.html' %}

{% block content %}
  <h2>GENERATE PDF</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <select name="states" class="form-control" style="max-width: 200px;">
        <option value="">ALL STATES</option>
        {% for state in states %}
          <option value="{{ state }}">{{ state }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-danger">DOWNLOAD PDF</button>
   
       <a class="btn btn-primary" href="{% url 'csvs' %}">GENERATE CSV</a>
       


  </form>
  
{% endblock %}

