{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">STATE DASHBOARD</h3>
                    </div>
                    <div class="card-body">
                        <div class="d-grid gap-2 mb-3">
                            <a href="#" class="btn btn-primary btn-lg" id="view-students-btn">VIEW STUDENT INFORMATION</a>
                        </div>
                        <div id="student-info-table" style="display: none;">
                             <table class="table" style="width: 1200px;">
                                
                                <thead>
                                    <tr>
                                        <th>FIRST NAME</th>
                                        <th>LAST NAME</th>
                                        <th>ENROLLMENT_NO.</th>
                                        <th>PROGRAM</th>
                                        <th>VILLAGE</th>
                                        <th>BLOCK</th>
                                        <th>DISTRICT</th>
                                        <th>STATE</th>
                                        <th>EMAIL</th>
                                        <th>PHONE</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                        <tr>
                                            <td>{{ student.first_name }}</td>
                                            <td>{{ student.last_name }}</td>
                                            <td>{{ student.enrollment_number }}</td>
                                            <td>{{ student.program }}</td>
                                            <td>{{ student.village }}</td>
                                            <td>{{ student.block }}</td>
                                            <td>{{ student.district }}</td>
                                            <td>{{ student.state }}</td>
                                            <td>{{ student.email }}</td>
                                            <td>{{ student.phone }}</td>


                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="7" class="text-center">NO STUDENTS FOUND</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const viewStudentsBtn = document.querySelector("#view-students-btn");
        const studentInfoTable = document.querySelector("#student-info-table");

        viewStudentsBtn.addEventListener("click", () => {
            studentInfoTable.style.display = "table";
        });
    </script>
{% endblock %}
