{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h3 style="font-family: 'Farsan', cursive;">{{ student.first_name }} {{ student.last_name }}</h3>
    
    <table class="table">
      <tr>
        <tr>
          <td><strong>ENROLLMENT NUMBER</strong></td>
          <td>{{ student.enrollment_number }}</td>
        </tr>
        <td><strong>PROGRAM</strong></td>
        <td>{{ student.program }}</td>
      </tr>
      <tr>
        <td><strong>VILLAGE</strong></td>
        <td>{{ student.village }}</td>
      </tr>
      <tr>
        <td><strong>BLOCK</strong></td>
        <td>{{ student.block }}</td>
      </tr>
      <tr>
        <td><strong>DISTRICT</strong></td>
        <td>{{ student.district }}</td>
      </tr>
      <tr>
        <td><strong>STATE</strong></td>
        <td>{{ student.state }}</td>
      </tr>
      <tr>
        <td><strong>EMAIL</strong></td>
        <td>{{ student.email }}</td>
      </tr>
      <tr>
        <td><strong>PHONE</strong></td>
        <td>{{ student.phone }}</td>
      </tr>
      
    </table>
  </div>
<style>
  .container {
    margin: auto;
    max-width: 500px;
  }
  
  h3 {
    font-size: 48px;
    margin-bottom: 40px;
  }
  
  .table {
    border-collapse: collapse;
    margin-bottom: 40px;
  }
  
  .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 15px;
    font-weight: bold;
  }
  
  .table td:first-child {
    font-weight: bold;
    width: 200px;
  }
  
  @media (max-width: 576px) {
    h1 {
      font-size: 36px;
    }
  
    .table td:first-child {
      width: 120px;
    }
  
    .table td {
      font-size: 20px;
    }
  }
</style>  
{% endblock %}

