{% extends 'base.html' %}

{% block content %}
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <div class="card bg-info text-white">
                <div class="card-body">
                  <h5 class="card-title">STUDENTS</h5>
                  <p class="card-text">{{ students.count }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card bg-success text-white">
                <div class="card-body">
                  <h5 class="card-title">PROGRAMS</h5>
                  <p class="card-text">{{ program_counts.count }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card bg-warning text-white">
                <div class="card-body">
                  <h5 class="card-title">VILLAGES</h5>
                  <p class="card-text">{{ village_counts.count }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card bg-primary text-white">
                <div class="card-body">
                  <h5 class="card-title">BLOCKS</h5>
                  <p class="card-text">{{ block_counts.count }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card bg-secondary text-white">
                <div class="card-body">
                  <h5 class="card-title">DISTRICTS</h5>
                  <p class="card-text">{{ district_counts.count }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title">STATES</h5>
                  <p class="card-text">{{ state_counts.count }}</p>
                </div>
              </div>
            </div>
          </div>

          <h3 class="mt-4">ALL STUDENTS</h3>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>FIRST NAME</th>
                  <th>LAST NAME</th>
                  <th>ENROLLMENT NUMBER</th>
                  <th>PROGRAM</th>
                  <th>VILLAGE</th>
                  <th>BLOCK</th>
                  <th>DISTRICT</th>
                  <th>STATE</th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                  <tr>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.enrollment_number }}</td>
                    <td>{{ student.program }}</td>
                    <td>{{ student.village }}</td>
                    <td>{{ student.block }}</td>
                    <td>{{ student.district }}</td>
                    <td>{{ student.state }}</td>
                  </tr> {% empty %}
                  <tr>
                    <td colspan="8" class="text-center">NO STUDENTS FOUND.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
               