 {% extends 'base.html' %}

{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group" style="max-width: 300px;">
            <input type="file" name="myfile" class="form-control-file " style="max-width: 250px;">
        </div>
        <button type="submit" class="btn btn-primary upload-btn">UPLOAD</button>
    </form>
</div>


<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    input[type=file] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        margin-bottom: 20px;
        width: 300px;
    }

    .upload-btn {
        background-color: #2196F3;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .upload-btn:hover {
        background-color: #0D47A1;
    }

    .upload-btn:active {
        transform: scale(0.95);
    }
</style>
{% endblock %}