{% extends 'base.html' %}

{% block content %}
  <h3>VILLAGES LIST</h3>
  <p>TOTAL VILLAGES : {{ page_obj.paginator.count }}</p>
  <ul class="village-list">
    {% for village in page_obj %}
      <li><a href="{% url 'student:village_detail' village.pk %}">{{ forloop.counter0|add:page_obj.start_index }}. {{ village.name }}</a></li>
    {% empty %}
      <li>NO VILLAGES AVAILABLE.</li>
    {% endfor %}
  </ul>
  
  {% if page_obj.has_other_pages %}
    <div class="pagination">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; FIRST</a>
        <a href="?page={{ page_obj.previous_page_number }}">PREVIOUS</a>
      {% endif %}
  
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <span class="current-page">{{ i }}</span>
        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
          <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
      {% endfor %}
  
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">NEXT</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">LAST &raquo;</a>
      {% endif %}
    </div>
  {% endif %}
    </span>
  </div>

  <style>
    .village-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 16px;
    }

    .village-list li {
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f9f9f9;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
    }

    .village-list li:hover {
      background-color: #eee;
    }

    .village-list li a {
      text-decoration: none;
      color: #333;
    }

    .village-list li a:hover {
      text-decoration: underline;
    }

    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .pagination a {
      color: #333;
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      padding: 5px 10px;
      margin: 0 5px;
      border-radius: 5px;
      text-decoration: none;
    }

    .pagination a:hover {
      background-color: #eee;
    }

    .pagination .current-page {
      margin: 0 10px;
    }
  </style>

  <script>
    $(document).ready(function() {
      $('.village-list li').hide();
      $('.village-list li').each(function(i) {
        $(this).delay(i * 50).fadeIn(200);
      });
    });
  </script>
{% endblock %}
