{% extends 'Student_template/header.html' %}
{% load static %}

{% block content %}
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h1>Program and State Form</h1>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <form method="POST">
                            {% csrf_token %}
                            <label for="program">Select Program:</label>
                            <select name="program" id="program">
                                {% for program in programs %}
                                    <option value="{{ program.id }}">{{ program.program_name }}</option>
                                {% endfor %}
                            </select>
                            <label for="state">Select State:</label>
                            <select name="state" id="state">
                                {% for state in states %}
                                    <option value="{{ state.id }}">{{ state.name }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{%  include "Student_template/footer.html" %}
{% endblock %}
